__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
.Python
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.ipynb_checkpoints/
.idea/
.vscode/
dist/
build/
*.egg-info/
.env
.DS_Store
__pycache__/
